<div class="container" fxHide.xs fxShow.gt-xs>
    <h2 class="mat-title">Stato vaccinazioni al {{lastUpdate$ | async | date: 'dd/MM/yyyy HH:mm:ss' : 'GMT'}}</h2>
    <div>
        <div fxLayout="row" fxLayout.sm="column-reverse" fxLayoutGap="2em" *ngIf="overallStatus$ | async as overallStatus">
            <app-districts-status-chart fxFlex="80" [data]="overallStatus.details"></app-districts-status-chart>
            <div fxFlex="20" fxLayout="column" fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayoutAlign="center stretch" fxLayoutGap="2em">
                <app-overall-status-chart fxFlex.sm="50" [data]="overallStatus"></app-overall-status-chart>
                <app-overall-status-card fxFlex.sm="50" [data]="overallStatus"></app-overall-status-card>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="2em" class="groups-charts">
            <app-age-groups-chart *ngIf="ageGroups$ | async as ageGroups" [data]="ageGroups" fxFlex="50" fxFlex.sm="100"></app-age-groups-chart>
            <app-category-groups-chart *ngIf="categoryGroup$ | async as categoryGroup" [data]="categoryGroup" fxFlex="50" fxFlex.sm="100"></app-category-groups-chart>
        </div>
    </div>
    <mat-divider class="bottom-divider"></mat-divider>
    <div class="mat-small">
        Fonte dati: 
        <a href="https://app.powerbi.com/view?r=eyJrIjoiMzg4YmI5NDQtZDM5ZC00ZTIyLTgxN2MtOTBkMWM4MTUyYTg0IiwidCI6ImFmZDBhNzVjLTg2NzEtNGNjZS05MDYxLTJjYTBkOTJlNDIyZiIsImMiOjh9" target="_blank">
            Report Vaccini Anti COVID-19
        </a>
    </div>
</div>
<app-please-rotate></app-please-rotate>