<div class="container" fxHide.xs fxShow.gt-xs>
    <h2 class="mat-title">Stato vaccinazioni al {{lastUpdate$ | async | date: 'dd/MM/yyyy HH:mm:ss' : 'GMT'}}</h2>
    <div>
        <div fxLayout="column" fxFlex="100">
            <app-districts-status-chart [data]="districtsStatus"></app-districts-status-chart>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-small">
        Fonte dati: 
        <a href="https://app.powerbi.com/view?r=eyJrIjoiMzg4YmI5NDQtZDM5ZC00ZTIyLTgxN2MtOTBkMWM4MTUyYTg0IiwidCI6ImFmZDBhNzVjLTg2NzEtNGNjZS05MDYxLTJjYTBkOTJlNDIyZiIsImMiOjh9" target="_blank">
            Report Vaccini Anti COVID-19
        </a>
    </div>
</div>
<app-please-rotate></app-please-rotate>