<div fxLayout="row" fxLayoutAlign="flex-end center" class="decorator-container">
    <span *ngIf="selectedDecorator" class="selected">{{selectedDecorator.label}}</span>
    <button mat-button [matMenuTriggerFor]="beforeMenu" matTooltip="Cambia scala">
        <mat-icon>bar_chart</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="select(decorator)" *ngFor="let decorator of decorators">
            <mat-icon [svgIcon]="decorator.icon" *ngIf="decorator.isSvg"></mat-icon>
            <mat-icon *ngIf="!decorator.isSvg">{{decorator.icon}}</mat-icon>
            <span>{{decorator.label}}</span>
        </button>
    </mat-menu>
</div>