<h2 class="mat-title">Stato vaccinazioni</h2>
<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
        <div class="item" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap=".5em">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5em">
                <mat-icon>history_toggle_off</mat-icon>
                <div class="numbers">{{lastUpdate$ | async | date: 'dd/MM/yyyy hh:mm:ss'}}</div>
            </div>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayoutGap=".5em">
            <strong>Totale vaccinati</strong> 
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5em">
                <mat-icon>groups</mat-icon>
                <div class="numbers">{{total$ | async}}</div>
            </div>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayoutGap=".5em">
            <strong>Uomini</strong>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5em">
                <mat-icon class="men">face</mat-icon>
                <div class="numbers">{{totalMen$ | async}}</div>
            </div>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayoutGap=".5em">
            <strong>Donne</strong>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5em">
                <mat-icon class="women">face</mat-icon>
                <div class="numbers">{{totalWomen$ | async}}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
