<h2 class="mat-title">Stato vaccinazioni al XX/XX/XXXX</h2>
<mat-card>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap=".5em">
            <mat-icon>groups</mat-icon>
            <div class="numbers">46000</div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap=".5em">
            <mat-icon class="men">face</mat-icon>
            <div class="numbers">23000</div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap=".5em">
            <mat-icon class="women">face</mat-icon>
            <div class="numbers">23000</div>
        </div>
    </mat-card-content>
</mat-card>
