@import 'src/styles/palette.scss';

.italy {
    width: 90%;

    .white {
        fill: $district-white;
    }
    .yellow {
        fill: $district-yellow;
    }
    .orange {
        fill: $district-orange;
    }
    .red {
        fill: $district-red;
    }
}