@import 'src/styles/palette.scss';

.italy {
    width: 90%;

    .green {
        fill: $district-green;
    }
    .yellow {
        fill: $district-yellow;
    }
    .orange {
        fill: $district-orange;
    }
    .red {
        fill: $district-red;
    }
}