<div *ngIf="chartData" fxHide.xs class="chart-container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.sm="column">
        <app-line-chart-legend [chartDataTypes]="chartTypes" (toggleDataType)="toggle($event)"></app-line-chart-legend>
        <div fxFlexAlign.sm="end">
            <app-time-filter (selectFilter)="applyTimeFilter($event)"></app-time-filter>
            <app-percentage-filter (selectFilter)="applyPercentFilter($event)"></app-percentage-filter>
        </div>
    </div>
    <canvas baseChart
            [datasets]="chartData"
            [labels]="labels"
            [options]="options"
            [legend]="true"
            [plugins]="plugins"
            [chartType]="'line'"></canvas>
</div>
<div *ngIf="chartData" fxShow.xs fxHide.gt-xs fxLayout="column" fxLayoutAlign="center center" class="change-rotation">
    <p>
        <mat-icon>screen_rotation</mat-icon>  
    </p>
    <p>Ruota il dispositivo per vedere il grafico</p>
</div>
<div *ngIf="!chartData" fxLayout="column" fxLayoutAlign="center center" class="spinner">
    <mat-spinner [diameter]="48"></mat-spinner>
</div>
