.container {
    min-height: 100vh;

    a[mat-button] {

        &:hover {
            opacity: .8;
        }
    }

    .content {
        flex: 1;
    }
}

mat-sidenav {
    min-width: 200px !important;
    width: 20vw !important;
    max-width: 400px !important;
} 