<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="1em">
        <h2 class="mat-h2">Copertura popolazione</h2>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap=".5em">
            <div fxLayout="column" fxFlex="50" fxLayoutGap=".5em">
                <strong class="inner-title">Una Dose</strong> 
                <div class="percentage">{{((totals.first / totalPopulation) * 100).toFixed(2)}}%</div>
                <div>{{totals.first.toLocaleString()}}</div>
            </div>
            <div fxLayout="column" fxFlex="50" fxLayoutGap=".5em">
                <strong class="inner-title">Due Dosi</strong> 
                <div class="percentage">{{((totals.second / totalPopulation) * 100).toFixed(2)}}%</div>
                <div>{{totals.second.toLocaleString()}}</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="item" fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="100" fxLayoutGap=".5em">
            <strong>Totali</strong> 
            <div>{{data.doneCount.toLocaleString()}}</div>
        </div>
    </mat-card-content>
</mat-card>
