<div fxLayout="row" fxLayoutAlign="flex-end center" class="sorter-container">
    <span *ngIf="selectedLabel" class="label">{{selectedLabel}}</span>
    <button mat-button [matMenuTriggerFor]="beforeMenu" matTooltip="Cambia dati">
        <mat-icon>leaderboard</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let metric of availableMetrics" (click)="select(metric)">
            <mat-icon [svgIcon]="metric.icon" *ngIf="metric.isSvg"></mat-icon>
            <mat-icon *ngIf="!metric.isSvg">{{metric.icon}}</mat-icon>
            <span>{{metric.label}}</span>
        </button>
    </mat-menu>
</div>