<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" class="home-container" fxLayoutGap="2em">
    <app-national-latest fxFlex="20" [data]="allNationalData"></app-national-latest>
    <div fxLayout="column" fxFlex.lt-lg="80" fxFlex.gt-lg="60" fxFlex.lg="60" fxLayoutGap="1em">
        <app-vaccination-summary fxHide.lg fxHide.gt-lg></app-vaccination-summary>
        <app-district-lockdown-levels></app-district-lockdown-levels>
        <app-district-latest-table [data]="allDistrictsData"></app-district-latest-table>
    </div>
    <app-vaccination-summary fxFlex="20" fxHide.lt-lg></app-vaccination-summary>
</div>

