<div *ngIf="tableData && displayedColumns" >
    <h2 class="mat-title">Incremento casi totali</h2>
    <div class="table-container mat-elevation-z2">
        <table mat-table [dataSource]="tableData" multiTemplateDataRows>
            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef [ngClass.xs]="'default-width'">{{tableDef.district}}</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{backgroundColor: element.districtColor}" class="district-color" [ngClass.xs]="'default-width'">&nbsp;</span> 
                    <span>{{element.district}}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="beforeBeforeLatest">
                <th mat-header-cell *matHeaderCellDef>{{tableDef.beforeBeforeLatest}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beforeBeforeLatest | signedNumber}} ({{element.beforeBeforeLatestPercent | signedPercentage}})
                </td>
            </ng-container>
    
            <ng-container matColumnDef="beforeLatest">
                <th mat-header-cell *matHeaderCellDef>{{tableDef.beforeLatest}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beforeLatest | signedNumber}} ({{element.beforeLatestPercent | signedPercentage}})
                </td>
            </ng-container>
    
            <ng-container matColumnDef="latest">
                <th mat-header-cell *matHeaderCellDef [ngClass.xs]="'default-width'">{{tableDef.latest}}</th>
                <td mat-cell *matCellDef="let element" [ngClass.xs]="'default-width'"> 
                    <app-chip [style]="getTrend(element.district, element.latest)" [matTooltip]="getTooltip(element.district, element.latest)">
                        {{element.latest | signedNumber}} ({{element.latestPercent | signedPercentage}})
                    </app-chip>
                </td>
            </ng-container>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef>Trend</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="trend" [ngClass]="getTrend(element.district, element.latest)">play_arrow</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="element-detail"
                       [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                       
                       <app-district-latest-trend [data]="chartData[element.district]"></app-district-latest-trend>
                  </div>
                </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
        </table>
    </div>
</div>