@import 'src/styles/palette.scss';

.table-container {
    height: 80vh;
    overflow: auto;
    border-radius: 4px;

    table {
        width: 100%;

        tr.detail-row {
            height: 0;
        }

        tr.element-row:not(.expanded-row):hover {
            background: $hover-row;
        }
        
        tr.element-row {
            cursor: pointer;
        }

        .element-row td {
            border-bottom-width: 0;
        }

        .element-detail {
            overflow: hidden;
            display: flex;
        }          
    }

    .district-color {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        display: inline-block;
        margin-right: 2em;
    }

    .mat-column-district {
        width: 40%;
        &.default-width {
            width: 60%;
        }
    }

    .mat-column-beforeBeforeLatest {
        width: 15%;
    }

    .mat-column-beforeLatest {
        width: 15%;
    }

    .mat-column-latest {
        width: 15%;
        &.default-width {
            width: 40%;
        }
    }

    .mat-column-icon {
        width: 5%;
    }

    .trend {
        &.good {
            color: $good;
            transform: rotate(90deg);
        }
        &.good-ish {
            color: $good-ish;
            transform: rotate(90deg);
        }
    
        &.bad-ish {
            color: $bad-ish;
            transform: rotate(-90deg);
        }
    
        &.bad {
            color: $bad;
            transform: rotate(-90deg);
        }
    }

    .district-detail-value {
        float: right;
    }

    button.go-to-provinces {
        margin: 1em;
    }
}