<div *ngIf="tableData && displayedColumns" >
    <h2 class="mat-title">Incremento casi totali</h2>
    <div class="table-container mat-elevation-z2">
        <table #table mat-table [dataSource]="tableData" multiTemplateDataRows matSort matSortActive="district" matSortDirection="asc" (matSortChange)="onSortChange($event); table.renderRows()">
            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef [ngClass.xs]="'default-width'" mat-sort-header>{{tableDef.district}}</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{backgroundColor: element.districtColor}" class="district-color" [ngClass.xs]="'default-width'">&nbsp;</span> 
                    <span>{{element.district}}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="beforeBeforeLatest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{tableDef.beforeBeforeLatest}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beforeBeforeLatest | signedNumber}} ({{element.beforeBeforeLatestPercent | signedPercentage}})
                </td>
            </ng-container>
    
            <ng-container matColumnDef="beforeLatest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{tableDef.beforeLatest}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beforeLatest | signedNumber}} ({{element.beforeLatestPercent | signedPercentage}})
                </td>
            </ng-container>
    
            <ng-container matColumnDef="latest">
                <th mat-header-cell *matHeaderCellDef [ngClass.xs]="'default-width'" mat-sort-header>{{tableDef.latest}}</th>
                <td mat-cell *matCellDef="let element" [ngClass.xs]="'default-width'"> 
                    <app-trend-chip [trend]="getTrendOf(element.district, element.latest)">
                        {{element.latest | signedNumber}} ({{element.latestPercent | signedPercentage}})
                    </app-trend-chip>
                </td>
            </ng-container>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef>Trend</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="trend" [ngClass]="getTrend(element.district, element.latest)">play_arrow</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="element-detail"
                       [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" >
                       
                       <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between" *ngIf="chartData[element.district] as district">
                            <app-district-latest-trend [data]="district" fxFlex.gt-xs="40" fxFlex.xs="100"></app-district-latest-trend>
                            <div fxFlex.gt-xs="60" fxLayout="column" fxLayoutAlign="center" fxHide.xs>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <div fxFlex="40">
                                        <p>
                                            <strong>Totale casi</strong>
                                            <span class="district-detail-value">{{district[2].totale_casi | number : '1.0-0' : 'it'}}</span>
                                        </p>
                                        <p>
                                            <strong>Tamponi</strong>
                                            <span class="district-detail-value">{{district[2].tamponi | number : '1.0-0' : 'it'}}</span>
                                        </p>
                                        <p>
                                            <strong>Ricoverati</strong>
                                            <span class="district-detail-value">{{district[2].ricoverati_con_sintomi | number : '1.0-0' : 'it'}}</span>
                                        </p>
                                    </div>
                                    <div fxFlex="50">
                                        <p>
                                            <strong>Terapia intensiva</strong>
                                            <span class="district-detail-value">{{district[2].terapia_intensiva | number : '1.0-0' : 'it'}}</span>
                                        </p>
                                        <p>
                                            <strong>Dimessi guariti</strong>
                                            <span class="district-detail-value">{{district[2].dimessi_guariti | number : '1.0-0' : 'it'}}</span>
                                        </p>
                                        <p>
                                            <strong>Deceduti</strong>
                                            <span class="district-detail-value">{{district[2].deceduti | number : '1.0-0' : 'it'}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div fxLayoutAlign="center center">
                                    <button mat-raised-button class="go-to-provinces" [routerLink]="['/italy/provinces']" [queryParams]="{district: element.district}">Vai alle province</button>
                                </div>
                            </div>
                       </div>
                  </div>
                </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
        </table>
    </div>
</div>