@import 'src/styles/palette.scss';

.table-container {
    height: 80vh;
    overflow: auto;
    border-radius: 4px;

    table {
        width: 100%;
    }

    .district-color {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        display: inline-block;
        margin-right: 2em;
    }

    .mat-column-district {
        width: 40%;
        &.default-width {
            width: 60%;
        }
    }

    .mat-column-beforeBeforeLatest {
        width: 15%;
    }

    .mat-column-beforeLatest {
        width: 15%;
    }

    .mat-column-latest {
        width: 15%;
        &.default-width {
            width: 40%;
        }
    }

    .mat-column-icon {
        width: 5%;
    }

    .trend-up {
        color: #585858;
    }

    .trend-down {
        color: #585858;
    }
}