<div *ngIf="tableData && displayedColumns" >
    <h2 class="mat-title">Incremento casi totali</h2>
    <div class="table-container mat-elevation-z2">
        <table mat-table [dataSource]="tableData">
            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef [ngClass.xs]="'default-width'">{{tableDef.district}}</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{backgroundColor: element.districtColor}" class="district-color" [ngClass.xs]="'default-width'">&nbsp;</span> 
                    <span>{{element.district}}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="beforeBeforeLatest">
                <th mat-header-cell *matHeaderCellDef>{{tableDef.beforeBeforeLatest}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beforeBeforeLatest | signedNumber}} ({{element.beforeBeforeLatestPercent | signedPercentage}})
                </td>
            </ng-container>
    
            <ng-container matColumnDef="beforeLatest">
                <th mat-header-cell *matHeaderCellDef>{{tableDef.beforeLatest}}</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beforeLatest | signedNumber}} ({{element.beforeLatestPercent | signedPercentage}})
                </td>
            </ng-container>
    
            <ng-container matColumnDef="latest">
                <th mat-header-cell *matHeaderCellDef [ngClass.xs]="'default-width'">{{tableDef.latest}}</th>
                <td mat-cell *matCellDef="let element" [ngClass.xs]="'default-width'"> 
                    <app-chip [style]="getColor(element.district, element.latest)">
                        {{element.latest | signedNumber}} ({{element.latestPercent | signedPercentage}})
                    </app-chip>
                </td>
            </ng-container>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.latest < element.beforeLatest" class="trend-down">trending_down</mat-icon>
                    <mat-icon *ngIf="element.latest > element.beforeLatest" class="trend-up">trending_up</mat-icon>
                    <mat-icon *ngIf="element.latest == element.beforeLatest">trending_flat</mat-icon>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>