@import 'src/styles/palette.scss';

.container-small {
    margin-top: 1em;
}

.list-container {
    overflow-y: scroll;
    max-height: 90vh;
}

.cases {
    color: $text-light;
}

.toggle-group {
    margin-top: 1.5em;
}

.district-btn {
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: #F0F0F0;
    }

    &.disabled {
        opacity: .4;
    }
}