@import 'src/styles/palette.scss';

.dot {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 1em;

    &.green {
        background-color: $district-green;
    }
    &.yellow {
        background-color: $district-yellow;
    }
    &.orange {
        background-color: $district-orange;
    }
    &.red {
        background-color: $district-red;
    }
}

.addMarginTop {
    margin-top: 1em;
}