<h2 class="mat-title" *ngIf="districtColors">Indicatori di rischio per regione</h2>
<mat-accordion *ngIf="districtColors">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly" fxLayoutGap="1em">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                        <div class="dot green"></div>
                        <div>{{districtColors['GREEN']}}</div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                        <div class="dot yellow"></div>
                        <div>{{districtColors['YELLOW']}}</div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                        <div class="dot orange"></div>
                        <div>{{districtColors['ORANGE']}}</div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                        <div class="dot red"></div>
                        <div>{{districtColors['RED']}}</div>
                    </div>
                </div>
            </mat-panel-title>
         </mat-expansion-panel-header>
         <div fxLayout="column" fxLayoutGap="1em">
            <app-regulation-date-selection [regulations]="allRegulations" (dateChange)="changeRegulation($event)"></app-regulation-date-selection>
            <div fxLayout="column" fxLayoutAlign="center center">
                <app-district-lockdown-map [regulation]="regulation" fxFlex="100"></app-district-lockdown-map>
            </div>
            <mat-divider></mat-divider>
            <div class="mat-small">
                Fonte dati: <a href="{{source}}" target="_blank">Ministero della Salute</a>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>