.container {
    padding: 1em;

    .metric-selector-container {
        margin-bottom: 1em;
    }

    .bottom-divider {
        margin-top: 1em;
    }

    .mat-small {
        margin-top: 1em;
    }
}